*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
:root{
    --blue:#041a36;
    --yellow:#eeff00;
    --red:#ff0000;
    --white:#ffffff;
    --green:#00ff00;
}
body{
    background-color:var(--blue);
    color: var(--white);
}
h1{
    text-align: center;
    color:var(--red);
}
.containall{
    width: 300px;
    margin: 50px auto;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* @keyframes intro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */
div .intro{
    opacity: 0;
    background-color: #ffffff65;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    height:400px;
    width: 500px;
    z-index: 2;
    transform: translateY(-12%) translateX(-20%);
    border-radius:3%;
    border:#ffffff 3px solid;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-delay: 0.9s;
}
div>img{
    width:3em;
}
div .play{
    color:#000000;
    font-weight: bolder;
    text-shadow: 0 0 10px #00ff00;
    font-size: 2rem;
    border: black 5px solid;
    width: 10ch;
    height: 6em;
    border-radius:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes welcome {
    0%{
        z-index: -2;
        opacity: 0;
    }
    50%{
        z-index: 2;
        opacity: 1;
    }
    100%{
        z-index: -2;
        opacity: 0;
    }
}
.welcome{
    transform: translateX(-60px);
    animation: welcome 1.2s ease-out  1 ;
    text-shadow: 0 0 30px #ff0000;
    color:#00ff00;
    font-size: 6rem;
    padding-top: 30%;
    font-weight: 800;
    opacity: 0;
    z-index: -2;
}
.inside{
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.result{
    --index: 0;
    z-index: var(--index);
    position: relative;
    padding-left: 100px;
}
.horizontal{
    --translateV:0;
    --translate:0;
    --rotate:0;
    --width:0;
    border-radius: 3px;
    position: absolute;
    background-color: rgb(0, 255, 0);
    transform: translateY(calc(var(--translate)*1px)) translateX(calc(var(--translateV)*1px)) rotate(calc(var(--rotate)*1deg)) ;  
    width: calc(var(--width)*1px);
    height: 10px;
}
.winn{
    font-size: 2em;
    color:lavenderblush;
    text-shadow: 0 0 30px lightblue;
    text-align: center;
    margin:70px;
}
.x{
    color:rgb(195, 0, 255);
    text-shadow: 0 0 20px rgb(195, 0, 255);
    font-family:  Arial, Helvetica, sans-serif;
}
.o{
    color:aqua;
    text-shadow: 0 0 20px aqua;
    font-family:  Arial, Helvetica, sans-serif;
}

.cell{
    --pointer-events:'';
    pointer-events: var(--pointer-events);
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width:100px;
    height: 100px;
    cursor:pointer;
    line-height: 100px;
    font-size: 60px;
    box-shadow: 0 0 30px var(--yellow);
    text-align: center;
}

.cell1{
    border-right:3px solid var(--yellow);
    border-bottom:3px solid var(--yellow);
}
.cell2{
    border-right:3px solid var(--yellow);
    border-left:3px solid var(--yellow);
    border-bottom:3px solid var(--yellow);
}
.cell3{
    border-left:3px solid var(--yellow);
    border-bottom:3px solid var(--yellow);
}
.cell4{
    border-top:3px solid var(--yellow);
    border-bottom:3px solid var(--yellow);
    border-right:3px solid var(--yellow);
}
.cell5{
    border:3px solid var(--yellow);
}
.cell6{
    border-left:3px solid var(--yellow);
    border-top:3px solid var(--yellow);
    border-bottom:3px solid var(--yellow);
}
.cell7{
    border-right:3px solid var(--yellow);
    border-top:3px solid var(--yellow);
}
.cell8{
    border-right:3px solid var(--yellow);
    border-left:3px solid var(--yellow);
    border-top:3px solid var(--yellow);
}
.cell9{
    border-left:3px solid var(--yellow);
    border-top:3px solid var(--yellow);
}



