html{
    font-size:30px;
}
*{
    font-size:0.7rem;
    font-family:monospace;
    /*overflow-x: hidden;*/
    
}
body{
    background-color: #c4dfe688;
    overflow-x: hidden;
    margin-left: 40px;
    justify-content: center;
}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: -13%;
    width: 30%;
    height: 100%;
    background-color: #ffffff73;
    pointer-events: none;
    transform: skewX(340deg);
    z-index:-1 ;
}


h1{
    position: relative;
    text-align: center;
    background-color: #c4dfe6;
    width:95%;
    border-radius: .2em;
    margin-top:0;
    left: 1.5%;
    font-weight: bolder;
    box-shadow: .1em .2em .4em #6b6666
}
.head{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.content{
    --translate:0;
    position: relative;
    font-size: 1em;
    max-height: 1.2em;
    width: max-content;
    margin-top: 1.5em;
    margin-bottom:1.5em;
    left:50%;
    transform: translateX(calc(var(--translate)*1ch));
}
.arrow{
    z-index: -10;
    position:absolute;
    font-size: 2em;
    margin-left:50%;
    transform: translateY(0.7em) translateX(-0.7em);
    font-weight:900;
}
.inputcontainer{
    width: 95%;
    margin-right: 40px;
    min-height: 10.5em;
    left: 1.5%;
    position:relative;
    border-radius: 0.2em; 
    overflow-x: hidden;
    box-shadow: .2em .3em .4em #000000;
}

.input{
    width: 100%;
    min-height: 100%;
    height: max-content;
    position:absolute;
    top:0;
    left:0;
    padding-left:.2em;
    overflow-x: hidden;
}
.layer1{
    z-index: 1;
    outline:none;
    color: #00000000;
    caret-color:rgb(0, 0, 0);
}

.layer2{
    z-index: -1;
    background-color: #66a5ad;
    color:#00000000;
    overflow-y: auto;
}

.statusContainer{
    width:100%;
    height:7em;
    position: relative;
}
.status{
    height: 100%;
    top:0;
    left:35%;
    width:30%;
    border-radius:.3em;
    position: absolute;
    text-align: center;
    box-shadow: .2em .2em .3em #000000;
    overflow: hidden;
}


.status1{
    background-color: #097277;
}
.status2{
    --translating:300%;
    transform: translateY(calc(var(--translating)*-1));
    background-color: #1e5a64;
    z-index: 1;
    text-align: center;
}
.roll{
    box-shadow: .2em .3em 1em #000000;
    box-sizing: border-box;
    margin-left:25%;
    margin-top: 15vh;
    border-radius: 10px;
    border: black solid 3px;
    position: absolute;
    height: 70vh;
    width: 50%;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
.time-pick{
    --translated:300%;
    z-index: 5;
    transform: translateY(calc(var(--translated)*-1));
    background-color: #048da5;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
.time-pick>h6{
    margin:0;
    font-size: 1.5em;
}
.time-pick>p{  
    font-size: 1.4em;
    height: auto; 
    margin:0;
    border: solid black 2px;
    border-radius:5px;
    width: auto;
    cursor:pointer;
}


.redo{
    position: absolute;
    margin-top: 1em;
    left: 42%;
    border-radius: 10px;
    border: #00eeff solid 2px;
    background-color:#00000000;
    color: #00eeff;
    text-shadow: 
    0 0 0.01em #ffffff,
    0 0 0.5em #00eeff;
    box-shadow: inset 0 0 0.5em #00eeff,
    0 0 0.5em #00ffff;
    transition:1s;
}
.redo:hover{
    background-color:#00ffff;
    color:#000000;
}
.big1{
    font-size: 3em;
    font-weight: bolder;
}
.big{
    font-size: 2em;
    font-weight: bolder;
}

.correctCharacter{
    background:#00ffff;
    color:#000000;
}
.errorCharacter{
    background: #ff0000;
    color:#000000;
}
.character{
    color: #004094;
}
